* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  background: linear-gradient(148deg, #F9FAFB 8.89%, #D2D6DB 100.48%);
  overflow: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.box {
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  background: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  margin: 200px auto;
  max-width: 340px;
  padding: 24px; 
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}

div.avatar {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  height: auto;
  
}

img {
  width: 48px;
  height: 48px;
  position: relative;
}

p {
  display: flex;
  flex-direction: row;
}

#name {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: #171717;
}

#handle {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #525252;
}

#text {
  margin-top: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #525252;
}


